@*@model IEnumerable<FundRaiser_Team1.Models.Project>

    @{
        ViewData["Title"] = "Projects";
    }

    <h1>Projects</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusPost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusPost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

@model List<FundRaiser_Team1.Models.Project>

<h1> Projects </h1>
<br />
@foreach (var project in Model)
{
    <div class="card" style="width: 18rem; display:inline-block;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@project.Title</h5>
            <p class="card-text">@project.Description</p>
            <a href="#" class="btn btn-primary">View</a>
        </div>
    </div> 
}


@*<ul>
    <li><b>Title: </b>@project.Title</li>
    <li><b>Description: </b>@project.Description</li>
    <li><b>Status: </b>@project.StatusPost</li>
</ul>*@